# cache in keyar-mining
dist
keyar_mining.egg-info
MANIFEST

# pycache in krmining
krmining/__pycache__

krmining/association_rules/__pycache__
krmining/association_rules/tests/__pycache__

krmining/clustering/__pycache__
krmining/clustering/tests/__pycache__

krmining/classification/__pycache__
krmining/classification/tests/__pycache__

krmining/datasets/__pycache__

krmining/regression/__pycache__
krmining/regression/tests/__pycache__

krmining/utils/__pycache__
krmining/utils/tests/__pycache__

# docs
docs/sitemap.xml
docs/sitemap.xml.gz

# python checkpoints
.ipynb_checkpoints
